:root {
  --blue-color: #364D99;
  --red-color: #cc0000;
  --yellow-color: #ffff00;
  --white-color: #ffffff;
  --grey-color: #808080;
  --black-color: #000000;
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "ZCOOL KuaiLe", "Times New Roman";
  font-family: "Roboto", "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.60em;
}

h4 {
  font-size: 1.50em;
}

h5 {
  font-size: 1.40em;
}

h6 {
  font-size: 1.25em;
}

p {
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: var(--red-color);
  font-weight: bold;
}

a:visited {
  color: var(--grey-color);
  font-weight: bold;
}

a:hover {
  color: var(--yellow-color);
  font-weight: bold;
}


.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  padding: 0;
  z-index: 99;
}

.fixed-header {
  top: 0;
  left: 0;
  background-color: var(--blue-color);
  height: 20%;
}

.fixed-footer {
  bottom: 0;
  left: 0;
  background-color: var(--red-color);
  height: 20%;
}

/*=====================*/
/* Page Header Section */
/*=====================*/
.logo {
  float: left;
  margin: 5px 5px 5px 10%;
  max-height: 90%;
  width: auto;
}

.appname {
  padding: 40px 0;
  padding-left: 35%;
  color: var(--white-color);
}

.appname > a {
  color: var(--white-color);
  text-decoration: none;
}

.appname1 {
  font-family: "ZCOOL KuaiLe", "Times New Roman";
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 4px;
}

.appname2 {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 900;
}

/*===================*/
/* The Footer Section*/
/*===================*/
footer {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

footer > div {
  /* border: 1px dotted var(--black-color); */
  margin: 0;
  padding: 0;
}

#disclaimers {
  margin: 10px;
  padding: 5px;
}
#disclaimers .disTop {
  margin: 0;
}
#disclaimers .disText {
  /* margin: 0; */
}

#navButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px;
  grid-column-gap: 5px;
  justify-content: center;
  align-self: center;
  margin: 5px 5% 5px 3px;
}

.btnStyled {
  border: 0;
  line-height: 1.8;
  padding: 0 5px;
  font-size: 0.8rem;
  text-align: center;
  color: var(--white-color);
  text-shadow: 1px 1px 1px var(--black-color);
  border-radius: 15px;
  background-color: var(--red-color);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px var(--grey-color),
              inset -2px -2px 3px var(--black-color);
}

.btnStyled a {
  color: var(--white-color);
  text-decoration: none;
}

.btnStyled:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.btnStyled:hover a {
  color: var(--black-color);
}

.btnStyled:active {
  box-shadow: inset -2px -2px 3px var(--white-color),
              inset 2px 2px 3px var(--black-color);
}

/*================*/
/* Template Page  */
/*================*/
main {
  position: fixed;
  top: 20%;
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 3fr);
  grid-template-rows: 20% 80%;
  grid-template-areas:
      "intro intro"
      "spacer content";
}

main > div {
  /* border: 1px dotted var(--black-color); */
  margin: 5px;
  padding: 5px;
}

#tempIntro {
  grid-area: intro;
  text-align: center;
}
#tempIntro .introTitle {
  margin: 0;
}

#addOrImage {
  grid-area: spacer;
  overflow-y: auto;
  border: 1px dotted var(--black-color);
  text-align: center;
}

#tempBody {
  grid-area: content;
  overflow-y: auto;
  border: 1px dotted var(--black-color);
}

.secHead {
  margin: 0;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

/*===========================*/
/* Home Page Main App Section*/
/*===========================*/
#homeIntro {
  grid-area: intro;
  text-align: center;
}
#homeIntro .introTitle {
  margin: 0;
}

#homeBody {
  grid-area: content;
  overflow-y: auto;
}

.homeHead {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

/*================*/
/* About Us Page  */
/*================*/
#aboutIntro {
  grid-area: intro;
  text-align: center;
}

#aboutBody {
  grid-area: content;
  overflow-y: auto;
  border: 1px dotted var(--black-color);
}

.aboutHead {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

/*=====================*/
/* Search Results Page */
/*=====================*/
.container {
  position: fixed;
  top: 35%;
  max-height: 40%;
  width: 98%;
  overflow-y: scroll;
  color: var(--black-color);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px,max-content);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  /*grid-template-rows: repeat(auto-fit, 200px);*/
}

.container > div {
  border: 1px dotted var(--black-color);
  padding: 20px;
}

.searchbar {
  position: fixed;
  top: 28%;
  left: 1%;
  width: 95%;
  color: var(--black-color);
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, minmax(20px, 1fr));
}
.searchbar > div {
  border: 1px solid var(--black-color);
  padding: 5px;
  text-align: center;
}
